.chatbot-container {
    padding: 2rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    position: relative;
}

.chatbot-container .lbl {
    min-width: 42%;
}

.chatbot-container .answer {
    background-color: var(--secondary-color);
    padding: 0.6rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10%;
    left: 73%;
    transform: translate(-50%, -50%);

}

.robot {
    width: 20rem;
}

.chatbot-container .answer::after {
    content: '';
    position: absolute;
    color: var(--secondary-color);
    bottom: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 10px 0 10px;
    border-color: var(--secondary-color) transparent transparent transparent;
}