.group-chat-panel {
    padding: 2rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-chat-panel ul {
    list-style: none;
    padding: 1rem;
    max-height: 15rem;
    overflow-y: auto;
    border-radius: 0.3rem;
    background-color: var(--secondary-color);
    scrollbar-width: none;
}

.group-chat-panel p {
    color: var(--secondary-color);
}

.group-chat-panel ul li {
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
}

.group-chat-panel ul li:last-child {
    border-bottom: none;
}

.group-wrapper {
    width: 50%;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}

.lbll {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.lbll input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    min-width: 60%;
}