html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FF69B4;
}

.main-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF69B4;
}

.main-panel h2 {
    color: white;
}