.symptom-checker-container {
    display: flex;
    margin-top: 7rem;
    padding: 1.5rem;
    justify-content: space-around;
}

.symptom-checker-container.left {
    flex: 2;
}

.symptom-checker-container.right {
    flex: 1;
}

.symptom-checker-container h2 {
    text-align: center;
    color: #04103B;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.symptom-checker-container p {
    font-size: 1rem;
    line-height: 1.5;
}

.symptom-checker-container p.error {
    color: red;
    font-weight: bold;
}

.symptom-checker-container input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.symptom-checker-container .diagnosis-result {
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
}

.symptom-checker-container .diagnosis-result h3 {
    color: #04103B;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}